@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");

html {

  /* --clr-primary: hsl(224, 14%, 22%);
  --clr-secondary: hsl(12, 100%, 97%);
  --clr-alternate: hsl(11, 94%, 68%); */
  
  --clr-primary: hsl(219, 10%, 41%);
  --clr-secondary: hsl(214, 17%, 71%);
  --clr-alternate: hsl(46, 83%, 76%);
  
  --br: 0.25rem;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: var(--clr-alternate, var(--clr-secondary));
  background-color: var(--clr-primary);
  margin-block: 1rem;
}

img {
  max-width: clamp(2rem, 8vw, 5rem);
  max-height: clamp(2rem, 8vw, 5rem);
  object-fit: contain;
}

.draft-link {
  text-decoration: none;
  font-size: 2rem;
  margin-block: 1rem;
  color: var(--clr-secondary);
}

.container {
  max-width: 90%;
  margin-inline: auto;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: min(100%, 70rem);
  margin-block: 1rem;
  margin-inline: auto;
}

.header img {
  max-width: clamp(1rem, 6vw, 4rem);
  max-height: clamp(1rem, 6vw, 4rem);
}

.title {
  font-family: "Dancing Script", cursive;
  font-weight: 700;
  text-transform: none;
  display: inline-block;
  font-size: 2rem;
  line-height: 1;
}

.matchup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.75rem;
  padding: 0.5rem;
  border-radius: var(--br);
  color: var(--clr-primary);
  background-color: var(--clr-secondary);
}

.matchup-teams {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.name {
  display: inline-block;
  margin-block: 0.5rem;
}

.contestant-containers {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: 1fr;
  gap: 1rem;
}

.team-container {
  margin-inline: auto;
  width: min(100%, 60rem);
  border-radius: var(--br);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  gap: 1rem;
  padding: 1rem;
  color: var(--clr-primary);
  background-color: var(--clr-secondary);
}

.team-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: var(--br);
}

.champ {
  outline: 0.125rem solid var(--clr-primary);
  outline-offset: 0.25rem;
}

@media (min-width: 48rem) {
  .container {
    max-width: 80%;
  }

  .header {
    flex-direction: row;
    margin-block: 2rem;
  }

  .team-score {
    font-size: 1.25rem;
  }

  .team-container {
    grid-template-columns: repeat(8, 1fr);
  }
}


/* Styles for draft page */

.draft-contestant-containers {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  gap: 1rem;
}

.dragging {
  opacity: 0.5;
}

.droppable {
  width: 100%;
  min-height: 10rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  background-color: var(--clr-secondary);
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.2);
}

.logo {
  cursor: pointer;
}