@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

html {
  --clr-primary: hsl(197, 35%, 54%);
  --clr-secondary: hsl(180, 46%, 71%);
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: var(--clr-alternate, var(--clr-secondary));
  background-color: var(--clr-primary);
  margin-block: 1rem;
}

img {
  max-width: clamp(2rem, 8vw, 5rem);
  max-height: clamp(2rem, 8vw, 5rem);
  object-fit: contain;
}

.container {
  width: 90%;
  margin-inline: auto;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-block: 1rem;
}

.header img {
    max-width: clamp(1rem, 6vw, 4rem);
    max-height: clamp(1rem, 6vw, 4rem);
}

.title {
  font-family: 'Dancing Script', cursive;
  font-weight: 700;
  text-transform: none;
  display: inline-block;
  font-size: 2rem;
  line-height: 1;
}

.matchup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.75rem;
}

.matchup-teams {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.name {
  display:inline-block;
  margin-block: 0.5rem;
}

.contestant-containers {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: 1fr;
  gap: 1rem;
}

.team-container {
  margin-inline: auto;
  width: min(100%, 60rem);
  border-radius: 0.5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  gap: 1rem;
  padding: 1rem;
  color: var(--clr-primary);
  background-color: var(--clr-secondary);
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.2);
}

.team-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0.5rem;  
}

.champ {
  outline: 0.25rem solid var(--clr-primary);
  outline-offset: 0.25rem;
}

@media (min-width: 48rem) {

  .header {
    flex-direction: row;
  }

  .team-score {
    font-size: 1.25rem;
  }

  .team-container {
    grid-template-columns: repeat(8, 1fr);
  }
}
