@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

html {
  --clr-primary: hsl(222, 19%, 27%);
  --clr-secondary: hsl(222, 15%, 87%);
  --clr-alternate: hsl(37, 100%, 64%);
}

body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: var(--clr-alternate);
  background-color: var(--clr-primary);
  margin-block: 2rem;
}

img {
  max-width: clamp(2rem, 6vw, 5rem);
  max-height: clamp(2rem, 6vw, 5rem);
  object-fit: contain;
}


.container {
  width: 90%;
  margin-inline: auto;
}

.title {
  font-family: 'Dancing Script', cursive;
  font-weight: 700;
  text-transform: none;
  display: inline-block;
  font-size: 2rem;
  line-height: 1;
}

.name {
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
  margin-block: 2rem 1rem;
}

.contestant-containers {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  gap: 1rem;
}

.dragging {
  opacity: 0.5;
}

.droppable {
  width: 100%;
  min-height: 10rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  background-color: var(--clr-secondary);
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.2);
}

.logo {
  cursor: pointer;
}